
#central-header{
    text-align: center;
    color: black;
}

#display-header{
    font-size: 40px;
    padding: 10 10;
    font-family: 'Chango', cursive;
    font-family: 'Oswald', sans-serif;
}

#button{
  margin-bottom: 30px;
}

h1 {
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
}

table {
    margin: 40px auto;
  }

td {
    background-color: #7E7E7E;
    height: 150px;
    width: 150px;
  }

td div {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  pointer-events: none;
  background-color: white;
}
.redToken {
  background-color: #FF9F97;
}

.blueToken {
  background-color: #98B6EC;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #F5F4EF, #C8BB9E, #353434, #A2967F, #53524E, #CEC3B2, #DEDBD1);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
}