
#central-header{
    text-align: center;
    color: black;
}

#display-header{
    font-size: 40px;
}

h1 {
    color: black;
    font-size: 50px;
}

#player-1-display{
    display: flex;
    justify-content: flex-start;
}

table {
    margin: 0 auto;
  }

td {
    background-color: gray;
    height: 150px;
    width: 150px;
  }

td div {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  pointer-events: none;
  background-color: white;
}
.redToken {
  background-color: red;
}

.blueToken {
  background-color: blue;
}

#player-2-display{
    display: flex;
}